@model IEnumerable<RecipeManagerCoreMVC.Data.ApplicationUser>;
@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Users</h1>

<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3">Add new user</a>
@if (Model.Any())
{
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>
                        <a asp-controller="Profile" asp-action="Details" asp-route-userName="@user.UserName" class="btn btn-primary">View</a>
                        <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Users
        </div>
        <div class="card-body">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Add new user</a>
        </div>
    </div>
}