@model IEnumerable<IdentityUser>;
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>

@if (Model.Any())
{
    <a asp-controller="Account" asp-action="Register" class="btn btn-primary mb-3">Create User</a>
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Users
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Create User</a>
        </div>
    </div>
}