@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Login" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false);

    <script>
        $(function () {
            var current = location.pathname;
            $(".nav-tabs li a").each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr("href")) !== -1) {
                    $this.addClass("active");
                }
            })
        })
    </script>
}