@model RecipeManagerCoreMVC.ViewModels.HomeCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<form method="Post" asp-action="Create">
    <div class="form-group row">
        <label asp-for="RecipeModel.RecipeName" class="col-sm-2 col-form-label"></label>
        <input asp-for="RecipeModel.RecipeName" class="form-control col-sm-10" />
        <span asp-validation-for="RecipeModel.RecipeName" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeModel.RecipeDescription" class="col-sm-2 col-form-label"></label>
        <textarea asp-for="RecipeModel.RecipeDescription" class="form-control col-sm-10"></textarea>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeModel.RecipeType" class="col-sm-2 col-form-label"></label>
        <select asp-for="RecipeModel.RecipeType" asp-items='Html.GetEnumSelectList<Enums.RecipeType>()
            .Where(x => x.Value != "0")' class="form-control col-sm-2"></select>
        <label asp-for="RecipeModel.RecipeInfoModel.Yield" class="col-sm-2 col-form-label pl-5"></label>
        <input asp-for="RecipeModel.RecipeInfoModel.Yield" class="form-control col-sm-2" />
        <label asp-for="RecipeModel.RecipeInfoModel.PrepTime" class="col-sm-2 col-form-label pl-5"></label>
        <input asp-for="RecipeModel.RecipeInfoModel.PrepTime" class="form-control col-sm-2" />
    </div>
    <div class="form-group row">
        <label asp-for="RecipeModel.RecipeInfoModel.CookTime" class="col-sm-2 col-form-label"></label>
        <input asp-for="RecipeModel.RecipeInfoModel.CookTime" class="form-control col-sm-2" />
        <label asp-for="RecipeModel.RecipeInfoModel.TotalTime" class="col-sm-2 col-form-label pl-5"></label>
        <input asp-for="RecipeModel.RecipeInfoModel.TotalTime" class="form-control col-sm-2" />
    </div>
    <div class="border mb-3">
        <h4>Ingredients</h4>
        <button id="addIngredientButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Quantity</th>
                    <th scope="col" style="width: 10%;">Unit</th>
                    <th scope="col" style="width: 80%;">Ingredient</th>
                </tr>
            </thead>
            <tbody id="ingredientTBody"></tbody>
        </table>
    </div>
    <div class="border">
        <h4>Instructions</h4>
        <button id="addInstructionButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Step</th>
                    <th scope="col" style="width: 90%;">Instruction</th>
                </tr>
            </thead>
            <tbody id="instructionTBody"></tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>

@section Scripts{
    @{ // Client side validation.
        <partial name="_ValidationScriptsPartial" /> 
    }
    
    <script>
        $(document).ready(function () {
            var index = 0;
            var count = 0;
            $("#addIngredientButton").click(function () {
                $("#ingredientTBody")
                    .append('<tr><td><input type="text" name="RecipeIngredientModels[' + index + '].IngredientQuantity" /></td>'
                        + '<td><input type="text" name="RecipeIngredientModels[' + index + '].IngredientUnit" /></td>'
                        + '<td><input type="text" name="IngredientModels[' + index + '].Ingredient" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
            });
            $("#ingredientTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                index--;
                $("#ingredientTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    count++;
                });
            });
        });

        $(document).ready(function () {
            var index = 0;
            var step = 1;
            $("#addInstructionButton").click(function () {
                $("#instructionTBody")
                    .append('<tr><td style="text-align: center"><strong>' + step + '</strong></td>'
                        + '<td><input type="text" name="InstructionModels[' + index + '].Instruction" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
                step++;
            });
            $("#instructionTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                step = 1;
                index--;
                $("#instructionTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    $(this).find("td:first-child").each(function () {
                        $(this).html("<strong>" + step + "</strong>");
                    });
                    count++;
                    step++;
                });
            });
        });
    </script>   
}