@model RecipeManagerCoreMVC.ViewModels.HomeCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<form method="Post" asp-action="Create">
    <div class="form-group row">
        <label asp-for="RecipeIngredientModel.RecipeModel.RecipeName" class="col-sm-2 col-form-label"></label>
        <input asp-for="RecipeIngredientModel.RecipeModel.RecipeName" class="form-control col-sm-10" />
        <span asp-validation-for="RecipeIngredientModel.RecipeModel.RecipeName" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeIngredientModel.RecipeModel.RecipeDescription" class="col-sm-2 col-form-label"></label>
        <textarea asp-for="RecipeIngredientModel.RecipeModel.RecipeDescription" class="form-control col-sm-10"></textarea>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeIngredientModel.RecipeModel.RecipeType" class="col-sm-2 col-form-label"></label>
        <select asp-for="RecipeIngredientModel.RecipeModel.RecipeType" asp-items='Html.GetEnumSelectList<Enums.RecipeType>()
            .Where(x => x.Value != "0")' class="form-control col-sm-3"></select>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeIngredientModel.IngredientsModel.Ingredient" class="col-sm-2 col-form-label"></label>
        <input asp-for="RecipeIngredientModel.IngredientsModel.Ingredient" class="form-control col-sm-10" />
    </div>
    <div class="form-group row">
        <label asp-for="RecipeIngredientModel.IngredientQuantity" class="col-form-label col-sm-2"></label>
        <input asp-for="RecipeIngredientModel.IngredientQuantity" class="form-control col-sm-2 mr-5" />
        <label asp-for="RecipeIngredientModel.IngredientUnit" class="col-form-label col-sm-2"></label>
        <input asp-for="RecipeIngredientModel.IngredientUnit" class="form-control col-sm-2" />
    </div>
    <div class="form-group row">
        <label asp-for="InstructionModel.Instruction" class="col-sm-2 col-form-label"></label>
        <input asp-for="InstructionModel.Instruction" class="form-control col-sm-10" />
    </div>
    <div>
        <button id="addIngredientButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Ingredient</th>
                </tr>
            </thead>
            <tbody id="ingredientTBody">
                <tr>
                    <td>1</td>
                    <td>oz</td>
                    <td>water</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button id="addInstructionButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Step</th>
                    <th scope="col">Instruction</th>
                </tr>
            </thead>
            <tbody id="instructionTBody">
                <tr>
                    <td>1</td>
                    <td>Cook food.</td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</form>

@section Scripts{
    @{ // Client side validation.
        <partial name="_ValidationScriptsPartial" /> 
    }
    
    <script>
        $(document).ready(function () {
            $("#addIngredientButton").click(function () {
                $("#ingredientTBody").append('<tr><td><input /></td><td><input /></td><td><input /></td></tr');
            });
        });

        $(document).ready(function () {
            $("#addInstructionButton").click(function () {
                $("#instructionTBody").append('<tr><td><input /></td><td><input /></td></tr');
            });
        });
    </script>   

}