@model IEnumerable<RecipeManagerCoreMVC.Models.RecipeModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h4>Recipe Types</h4>
    <div class="row mb-3">
        @foreach (var recipe in Enum.GetValues(typeof(Enums.RecipeType)))
        {
            <div class="col-sm">
                <div class="card">
                    <a asp-controller="Recipes" asp-action="Index" asp-route-recipeType="@recipe">
                        <img src="~/Images/defaultImg.jpg" class="card-top img-fluid" />
                    </a>
                    <div class="card-footer">
                        <p>@recipe</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>